**/node_modules
**/dist
local/*
.yarn/*
.claude/*
.agents/*
skills-lock.json
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/public/_remotes
.DS_Store
Zone.Identifier
.aider*
.idea/
.wrangler
